.main_container{
  background-color: #FFFFFF;
}

.color_etc_cate_text{
color: #FF6868;
font-weight: 700;
word-spacing: 2px;
margin-top: 30px;
}

.bold_text_cate_h2{
  font-weight: 750;
  color: #000000;
}

.design_center_cate_div2{
  /* border: 2px solid black; */
  text-align: center;
}

.design_img{
  /* border: 2px solid black; */
  border-radius: 50rem;
  padding: 15px;
  height: 120px;
  width: 120px;
  background-color: #C1F1C6;
}

.cart_img_details_cate{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
}

.for_border_demo_cate_cart{
  /* border: 2px solid black; */
  width: 17%;
  /* justify-content: center; */
  text-align: center;
  height: 230px;
  /* align-self: center; */
  padding-top: 15px;
  border-radius: 35px;
  border: 1px solid rgb(223, 217, 217);
  box-shadow: 0 0 30px 3px rgb(209, 206, 206);
}

.bold_title_cate_cart{
  font-weight: 650;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 7px;
}

.good_font_cate_cart{
  font-size: 18px;
  font-weight: 500;
  color: #555555;
}

.for_border_demo_cate_cart:hover{
  transform: scale(1.1);
}